body {
    background-image: url("images/pattern-background-desktop.svg");
}
.mainContent{
    text-align: center;
    margin: 25%;
    background-color: aquamarine;
    border-radius: 10%;
    width: 60%;
}

.buying-plan {
    display: flex;
    justify-content: space-around;
    background-color: rgb(134, 233, 200);
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buying-plan a{
    margin-top: 20px;
    color: blue;
    font-weight: bolder;
    margin-right: 30px;
}

.annual-plan {
    font-weight: bolder;
    margin-right: 50px;
}

.annual-plan, .price{
    display: block;
}

.description {
    margin: 0 5rem;
    padding-bottom: 2rem;
}

.description, .price {
    color: rgb(134, 165, 193);
    font-style: italic;
    font-size: 13px;
}

.big-image{
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    margin: 7%;
    width: 70%;
    border-radius: 7%;
    font-weight: bolder;
    border: none;
    box-shadow: 5px 3px 3px rgb(182, 201, 244);
    color: white;
}

#proceed-pay {
    background-color: blue;
}
#proceed-pay:hover{
    transition: 500ms;
}

#cancel {
    background-color: aquamarine;
    padding-right: 7rem;
    box-shadow: none;
    color: rgb(117, 115, 115);
}

#cancel:hover{
    background-color: blue;
    box-shadow: 5px 3px 3px rgb(182, 201, 244);
    color:rgb(255, 255, 255);
    transition: 500ms;
}

#cancel span {
    margin-left: 0.7rem;
    text-align: center;
}

button:hover{
    font-size: 14px;
}

@media (max-width: 320px) {
    .body {
        text-align: center;
        background-image: url("images/pattern-background-mobile.svg"); 
        background-position: center;
        background-repeat: no-repeat;
    }

    .mainContent{
       background-color: aquamarine;
    }
    
    .description, .price{
        font-size: 10px;
    }

    .description {
        padding-bottom: 1rem;
    }

    .big-image{
        width: 100px;
        margin-right: 10px;
        margin-left: 0px;
    }
}